<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menú de navegación">
      <mat-icon>menu</mat-icon>
    </button>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/inventario'">
        <mat-icon>inventory_2</mat-icon>
        <span>Inventario</span>
      </button>
      @if(rolUsuario === 2){
        <button mat-menu-item [routerLink]="'/salida'">
        <mat-icon>local_shipping</mat-icon>
        <span>Salida de producto</span>
      </button>
    }
    @if(rolUsuario === 1){
      <button mat-menu-item [routerLink]="'/historial'">
        <mat-icon>history</mat-icon>
        <span>Historial de movimientos</span>
      </button>
    }
      <button mat-menu-item (click)="cerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesion</span>
      </button>
    </mat-menu>
  
    <span>Inventario Castores</span>
    <span class="example-spacer"></span>
  
    <button mat-icon-button aria-label="Favoritos">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Compartir">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  